@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




body 
{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
	cursor: url('https://img.icons8.com/material/24/000000/dog-footprint.png'), auto;
	background-color : #FFC0CB;
}

small 
{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h1 
{
  text-align: center;
  padding: 20px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

h2 
{
  color : #ffffff;
  text-align: center;
  font-size: 35px;
  margin: 0;
  font-weight: bold;
  height : 50px;
}

h3 
{
text-align : center;
color : #fff;
font-size : 22px;
padding : 25px;
}

h5{
	color : #ffffff;
	font-size : 22px;
	text-align: center;
}

.center 
{
  text-align: center;
}

section 
{
  height: 500px;
}

section#navi
{
height: 413px;
background-image: url(img/bac.png);
background-repeat: no-repeat;
background-color: #ff9aab;
}

section#image
{
height: 300px;
background-image: url(img/dog4.png);
background-repeat: no-repeat;
background-color: #ff9aab;
}

section#image p 
{
	color : #ffffff;
	font-weight: bold;
}

section#service
{
	margin-top : 20px;
	color : #af045a;	
}

section#service p 
{
	color : #af045a;
}

section#presentation
{
	background-color: #ffb1be;
}

section#deroulement 
{
	height: 720px;
margin-bottom: 75px;
background-color: #ffb1be;
}

section#deroulement h4
{
	background-color:#ffb1be ;
 margin-left: 200px;
 margin-top : 75px;
 color : #ffffff;
 font-size : 24px;
 text-decoration: underline;
}

section#deroulement p
{
 color : #af045a;
 font-size : 20px;
 margin-right: 85px;
 margin-left: 85px;
}

section#formule
{
	background-image: url(img/chien.png);
	background-size: 374px 260px;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #FFC0CB;
	height: 400px;
}

section#formule h5
{
color : #ffffff;
text-align: left;
margin-left: 150px;
text-decoration: underline;
}

section#formule p
{
color : #af045a;
text-align: left;
margin-left: 250px;
font-size : 20px;
}


#chien
{
	text-align: right;	
}

#prestation 
{
	height:350px;
	font-family: 'Roboto', sans-serif;
	font-size : 17px;
	text-align : center;
	color : #af045a;
}

#cl1,#cl2,#cl3,#cl4 
{
	float:left;
	width:25%;
	border-right : 2px #ffffff solid;
	border-bottom : 2px #ffffff solid
}

#cl1 
{
	background-color:#ff99ab;
	height:inherit ;
}

#cl2 
{
	background-color:#ff99ab;
	height:inherit ;
}

#cl3 
{
	background-color:#ff99ab;
	height:inherit ;
}
#cl4 
{
	background-color:#ff99ab;
	height:inherit ;
}

/* Paragraphes*/
p
{
	color : #FF69B4;
	text-align : center;
	font-size : 25px;
	margin-bottom : 20px;
}
	
	
/* NAVIGATION ( Prise d'indernet pour la base pui modifier par rapport au site*/
nav 
{
	width: 55%;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 30px 0;
	box-shadow: 0px 5px 0px #dedede;
  }
  
  
  nav ul 
  {
	list-style: none;
	text-align: center;
  }

  nav ul li
  {
	display: inline-block;
  }

  nav ul li a 
  {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
  }

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before 
  {
	transition: all .5s;
  }

  nav ul li a:hover 
  {
	color: #555;
  }
  
  nav.blend ul li a 
  {
	  position: relative;
	  border-radius: 5px;
	  overflow: hidden;
	  z-index: 1;
  }

  nav.blend ul li a:hover 
  {
	   color: #fff;
  }

  nav.blend ul li a:before,
  nav.blend ul li a:after 
  {
	  position: absolute;
	   width: 0px;
	   height: 100%;
	   top: 0;
	   bottom: 0;
	   background: #ff82d5;
	   transition: all .5s;
	   margin: auto;
	   content: '.';
	   color: transparent;
	   z-index: -1;
	   opacity: 0.75;
  }

  nav.blend ul li a:before 
  {
	  left: 0;
  }

  nav.blend ul li a:after 
  {
		right: 0;
  }
  
  nav.blend ul li a:hover:after,
  nav.blend ul li a:hover:before 
  {
		width: 100%;
  }





/* Footer */
*{
	cursor: url('https://img.icons8.com/material/24/000000/dog-footprint.png'), auto;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container
{
	max-width: 1170px;
	margin:auto;
}
.row
{
	display: flex;
	flex-wrap: wrap;
}

ul
{
	list-style: none;
}

.footer
{
	background-color: #f19eaa;
    padding: 70px 0;
}

.footer-col
{
   width: 33%;
   padding: 0 15px;
}

.footer-col h4
{
	font-size: 35px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before
{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child)
{
	margin-bottom: 10px;
}
.footer-col ul li a
{
	font-size: 20px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover
{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a
{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover
{
	color: #24262b;
	background-color: #ffffff;
}






